.parent {
    display:flex;
}
.child {
    width: 30px;
    height: 30px;
    background-color: blue;
    margin:5px;
    border: 1px solid red
}

@media (max-width: 700px) {
    .parent {
        /* 방향지정 */
        /* flex-direction: column; */
        /* flex-direction: row;  */
        /* flex-direction: column-reverse; */
        /* flex-direction: row-reverse; */
        display:block
    }
    .child {
        background-color: aqua;
    }

}